# Terraform
**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
tfplan
crash.log
crash.*.log
secrets.tfvars
secrets.auto.tfvars
override.tf
override.tf.json
*_override.tf

# Secrets
.env
.env.*
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
